@font-face {
  font-family: "Helvetica Neue Light";
  src: url("fonts/1b950d2a-907a-4888-8056-0d44e8e86338.eot?#iefix");
  src: url("fonts/1b950d2a-907a-4888-8056-0d44e8e86338.eot?#iefix") format("eot"), url("fonts/3a46542f-f429-4821-9a88-62e3be54a640.woff2") format("woff2"), url("fonts/50ac1699-f3d2-47b6-878f-67a368a17c41.woff") format("woff"), url("fonts/0be5590f-8353-4ef3-ada1-43ac380859f8.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("fonts/f95f9fc2-ffda-431c-9d6a-2c3668f5b20b.eot?#iefix");
  src: url("fonts/f95f9fc2-ffda-431c-9d6a-2c3668f5b20b.eot?#iefix") format("eot"), url("fonts/5b1fbd62-45dc-4433-a7df-a2b24a146411.woff2") format("woff2"), url("fonts/050b1948-f226-4d20-a65a-15d8ed031222.woff") format("woff"), url("fonts/beb88be6-2a60-46fe-914f-6892b3ae46ce.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("fonts/9697cfef-7816-47cc-81ed-c56c029d3bcf.eot?#iefix");
  src: url("fonts/9697cfef-7816-47cc-81ed-c56c029d3bcf.eot?#iefix") format("eot"), url("fonts/1f4274cd-2674-481e-9023-69e33ffca161.woff2") format("woff2"), url("fonts/5e8d493c-be01-44b9-962e-504a5cf10dd8.woff") format("woff"), url("fonts/ae36b4a0-aa2c-46cc-98d8-d8b7d22241dc.ttf") format("truetype");
}
@font-face {
  font-family: "Encode Sans";
  src: url("fonts/EncodeSans-Regular.ttf");
}
@font-face {
  font-family: "Encode Sans Bold";
  src: url("fonts/EncodeSans-Bold.ttf");
}
@font-face {
  font-family: "Encode Sans Light";
  src: url("fonts/EncodeSans-Light.ttf");
}
.btn, .header__heading, h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Encode Sans", sans-serif;
}

.home-hero .carousel-caption {
  font-family: "Helvetica Neue", sans-serif;
}

.header__announcement, body {
  font-family: "Helvetica Neue Light", sans-serif;
}

.side-borders, .header__menu .nav-item {
  transform: skew(-20deg);
}

footer .nav-item, .promotions__subheading, .side-borders p, .navbar-expand-lg .navbar-nav .dropdown-menu, .header__menu .nav-link {
  transform: skew(20deg);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 30px;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}
p.side-borders {
  display: inline-block;
  margin: 0 auto;
}

div {
  background-size: cover;
}

img {
  height: auto;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin-bottom: 30px;
}
ul li {
  margin-bottom: 15px;
}

a {
  color: #cb0009;
}

.header__main {
  width: 100%;
}
.header__action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}
.header__quote {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.header__call {
  color: #cb0009;
  margin-left: 30px;
  margin-right: 15px;
  text-align: center;
}
.header__call img {
  display: inline-block;
  margin-right: 15px;
}
.header__phone {
  display: inline-block;
}
.header__heading {
  color: #000;
  font-size: 24px;
  text-align: center;
}
.header__menu {
  font-size: 18px;
}
.header__menu .nav-item {
  padding: 5px 10px;
  position: relative;
  text-align: center;
  transition: 0.3s ease background-color;
  z-index: 999;
}
.header__menu .nav-item.active, .header__menu .nav-item:hover {
  background-color: #cb0009;
}
.header__menu .nav-item.active .nav-link, .header__menu .nav-item:hover .nav-link {
  color: #fff;
}
.header__menu .nav-link {
  color: #000;
}
.header__announcement {
  background-color: #0067b4;
  color: #fff;
  font-size: 18px;
  margin-top: 15px;
  padding: 15px;
  text-align: center;
  width: 100%;
}
.header__announcement p {
  margin-bottom: 0;
}

.page-header {
  text-align: center;
}
.page-header h1 {
  margin-bottom: 0;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  background-color: #1f1f1f;
  font-size: 18px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu a {
  color: #fff;
  margin: 7px 0;
  white-space: normal;
}
.navbar-expand-lg .navbar-nav .dropdown-menu a:hover {
  background-color: transparent;
  color: #cb0009;
}

.navbar-toggler {
  font-size: 24px;
  width: 100%;
}

.navbar-brand {
  margin: 0 auto;
  margin-bottom: 15px;
}

.menu-header-menu-container {
  margin-left: auto;
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

.alignright {
  float: right;
}
.alignright::after {
  clear: both;
  content: " ";
  display: table;
}

.alignleft {
  float: left;
}
.alignleft::after {
  clear: both;
  content: " ";
  display: table;
}

.acf-map {
  height: 500px;
}
.acf-map--contact {
  height: 350px;
}

.btn {
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
}

.btn-primary {
  background-color: #cb0009;
}
.btn-primary:hover {
  background-color: #fff;
  border: 1px solid #cb0009;
  color: #cb0009;
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid #fff;
}
.btn-secondary:hover {
  background-color: #cb0009;
  border: 1px solid #cb0009;
}

.btn-center {
  margin-left: 50%;
  transform: translateX(-50%);
}

.side-borders {
  border-left: 2px solid #cb0009;
  border-right: 2px solid #cb0009;
  display: inline-block;
}
.side-borders p {
  display: inline-block;
  margin-bottom: 0;
  padding: 0 15px;
}

span.side-borders {
  display: inline-block;
}

.section {
  padding: 30px 0;
  position: relative;
}
.section__heading {
  margin-bottom: 60px;
  padding: 0 15px;
}
.section__heading h2,
.section__heading h3,
.section__heading h4,
.section__heading h5,
.section__heading h6 {
  text-align: center;
}
.section__heading h3 {
  font-size: 30px;
}
.section__heading h4 {
  font-size: 26px;
}
.section__heading h5 {
  font-size: 20px;
}
.section__heading h6 {
  font-size: 18px;
}
.section__heading h2 {
  display: inline-block;
  font-size: 30px;
  left: 50%;
  padding: 0 15px;
  position: relative;
  transform: translateX(-50%);
}
.section__heading h2::after {
  border-left: 2px solid #cb0009;
  border-right: 2px solid #cb0009;
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: skew(-20deg);
  width: 100%;
}
.section__heading > * {
  margin: 0;
}
.section--background {
  padding: 0;
}
.section--thin {
  margin: 0 auto;
  max-width: 100%;
}
.section::after {
  clear: both;
  content: " ";
  display: table;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  content: " ";
  height: 100%;
  left: 0;
  padding: 30px 0;
  top: 0;
  width: 100%;
}

.carousel-indicators li {
  background-color: transparent;
  border: 3px solid #a0a0a0;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
.carousel-indicators .active {
  background-color: #cb0009;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.img-bottom {
  margin-top: -30%;
  width: 100%;
}

.fine-print {
  font-size: 10px;
}

.slash-separator {
  margin: 30px 0;
  text-align: center;
}

.form-control {
  border-color: #a0a0a0;
  border-radius: 0;
  font-size: 16px;
  padding: 5px 15px;
}

.checklist {
  list-style-image: url("images/check.png");
  list-style-position: inside;
}
.checklist--dark {
  list-style-image: url("images/check-dark.png");
}

.row {
  margin-left: 0;
  margin-right: 0;
}
.row p {
  padding: 0;
}

.home-hero {
  position: relative;
  z-index: 0;
}
.home-hero .carousel {
  height: 100%;
  overflow: hidden;
}
.home-hero .carousel-inner {
  height: 400px;
}
.home-hero .carousel-item {
  background-size: cover;
  height: 100%;
}
.home-hero .carousel-item::after {
  background-image: radial-gradient(rgba(0, 0, 0, 0.3), transparent);
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.home-hero .carousel-indicators li {
  border: 3px solid #fff;
}
.home-hero .carousel-indicators .active {
  background-color: #fff;
}
.home-hero .carousel-caption {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 100%;
  justify-content: center;
  left: 50%;
  right: unset;
  transform: translateX(-50%);
  width: 90%;
}
.home-hero .carousel-caption p {
  line-height: 1;
}
.home-hero .carousel__heading {
  font-size: 30px;
  margin-bottom: 10px;
}
.home-hero .carousel__subheading {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 10px;
}
.home-hero .carousel__btn {
  bottom: 5%;
  position: absolute;
}
.home-hero .carousel-sidebar {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 60px;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;
  transform: none;
  width: 100%;
  z-index: 9;
}
.home-hero .carousel-sidebar .discount {
  align-items: center;
  background-color: #fff;
  color: #000;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 30px 0;
  padding: 5px 10px;
  position: relative;
  width: 100%;
}
.home-hero .carousel-sidebar .discount__flag {
  height: 50px;
  left: -50px;
  position: absolute;
  top: 0;
  width: 0;
}
.home-hero .carousel-sidebar .discount__flag::before, .home-hero .carousel-sidebar .discount__flag::after {
  border-left: 50px solid transparent;
  content: " ";
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}
.home-hero .carousel-sidebar .discount__flag::before {
  border-top: 25px solid #fff;
  top: 0;
}
.home-hero .carousel-sidebar .discount__flag::after {
  border-bottom: 25px solid #fff;
  bottom: 0;
}
.home-hero .carousel-sidebar h2 {
  font-size: 30px;
}

.promotions__header {
  background-color: #1f1f1f;
  color: #fff;
  width: 100%;
}
.promotions__header h2 {
  font-size: 30px;
}
.promotions__subheading {
  display: inline-block;
  font-size: 50px;
  padding: 0 30px;
}
.promotions__arrow {
  background: #a0a0a0;
  border-radius: 50%;
  height: 50px;
  margin: 0 auto;
  position: relative;
  width: 50px;
}
.promotions__arrow::after {
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  content: " ";
  height: 20px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -60%) rotate(45deg);
  width: 20px;
}
.promotions__title {
  font-size: 20px;
  margin-bottom: 10px;
}
.promotions__content {
  text-align: center;
}
.promotions__excerpt {
  margin-bottom: 30px;
}

.services {
  font-size: 30px;
  text-align: center;
}
.services__image-wrapper {
  margin-bottom: 15px;
  position: relative;
}
.services__image-wrapper::after {
  background-color: #6798be;
  content: " ";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: 0.3s ease opacity;
  width: 100%;
  z-index: 1;
}
.services__icon {
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease opacity;
  z-index: 2;
}
.services__image {
  z-index: 0;
}
.services__title {
  font-size: 30px;
}
.services__service:hover {
  text-decoration: none;
}
.services__service:hover .services__icon {
  opacity: 1;
}
.services__service:hover .services__image-wrapper::after {
  opacity: 0.5;
}
.services a {
  color: #000;
}

.reviews__heading {
  color: #5a5a5a;
  margin-top: 45px;
  text-align: center;
}
.reviews .carousel__reviewer {
  margin-bottom: 45px;
  text-align: right;
}
.reviews .carousel-indicators .active {
  background-color: #5a5a5a;
}

.home-contact {
  position: relative;
}
.home-contact__heading {
  color: #cb0009;
  margin-top: 15px;
  text-align: center;
  width: 100%;
  z-index: 99;
}
.home-contact__info {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  padding: 15px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 99;
}
.home-contact__map {
  width: 100%;
}

.contact__form {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}
.contact__input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact__input label {
  background-color: #fff;
  font-weight: bold;
  margin: 0;
  padding: 7px;
  position: relative;
  text-align: center;
}
.contact__input span {
  margin-bottom: 15px;
  margin-left: auto;
  width: 100%;
}
.contact__side-images {
  align-items: flex-end;
  display: none;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}
.contact__captcha {
  display: inline-block;
  margin: 30px 0;
}
.contact__submit {
  padding: 5px 30px;
}
.contact .btn {
  margin: 30px 0;
}

.membership__benefits-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.membership__benefits {
  font-size: 20px;
}
.membership__benefits p {
  margin-bottom: 0;
}
.membership__benefits li {
  position: relative;
}
.membership__benefits li::before {
  color: #cb0009;
  content: "*";
  font-size: 26px;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateX(-150%);
}
.membership__partners {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.team__name {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.team__row {
  margin-bottom: 30px;
}

.examples {
  display: flex;
  flex-direction: column;
}
.examples__left {
  background-color: #1f1f1f;
  color: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  text-align: center;
}
.examples__right {
  width: 100%;
}
.examples__right img {
  height: auto;
  width: 100%;
}

footer {
  background-color: #1f1f1f;
  color: #fff;
  padding: 30px;
}
footer .navbar {
  justify-content: flex-end;
}
footer .navbar-nav {
  flex-direction: row;
  float: right;
  margin-bottom: 45px;
}
footer .nav-item {
  display: inline-block;
  margin: 0 15px;
}
footer .nav-link {
  color: #fff;
}

.copyright {
  font-size: 14px;
  text-align: center;
  width: 100%;
}
.copyright__separator {
  color: #cb0009;
}

.footer__social {
  font-size: 20px;
}
.footer__social a {
  color: #000;
}
.footer__social a:hover {
  color: #0067b4;
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 50px;
    font-weight: bold;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 32px;
  }

  h5 {
    font-size: 26px;
  }

  h6 {
    font-size: 20px;
  }

  .header__action {
    flex-direction: row;
  }
  .header__quote {
    margin-bottom: 0;
  }

  .home-hero .carousel-sidebar {
    padding: 30px 25%;
  }
  .home-hero .carousel__heading {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .home-hero .carousel__subheading {
    font-size: 26px;
    margin-bottom: 15px;
  }
  .home-hero .carousel-caption p {
    line-height: 1.5;
  }

  .section__heading h2 {
    font-size: 50px;
    padding: 0 30px;
  }
  .section__heading h3 {
    font-size: 40px;
  }
  .section__heading h4 {
    font-size: 32px;
  }
  .section__heading h5 {
    font-size: 26px;
  }
  .section__heading h6 {
    font-size: 20px;
  }
  .section--thin {
    width: 80%;
  }

  .promotions__header {
    font-size: 40px;
  }
  .promotions__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .promotions__excerpt {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
  }

  .home-hero {
    height: 85vh;
  }
  .home-hero .carousel-inner {
    height: 100%;
  }
  .home-hero .carousel-sidebar {
    padding: 30px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
  }
  .home-hero .carousel-sidebar .discount {
    margin: 0;
    margin-bottom: 15px;
  }
  .home-hero .carousel-caption {
    justify-content: start;
    left: 100px;
    padding-top: 30px;
    right: 350px;
  }

  .home-contact__heading {
    position: absolute;
  }
  .home-contact__info {
    left: 30px;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
  }

  .promotions__content {
    text-align: left;
  }

  .reviews__heading {
    text-align: left;
  }

  .examples {
    flex-direction: row;
  }
  .examples__right {
    width: 60%;
  }
  .examples__right img {
    height: 100%;
    max-width: unset;
    width: auto;
  }

  .membership__benefits-wrapper {
    flex-direction: row;
  }

  .contact__input label {
    position: absolute;
    transform: translateX(-80px);
  }
  .contact__side-images {
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  .header {
    height: 85vh;
  }
  .header__action {
    justify-content: flex-end;
  }
  .header__menu .nav-item {
    border-right: 1px solid #cb0009;
    text-align: left;
  }
  .header__menu .nav-item:last-of-type {
    border: 0;
  }

  .navbar-brand {
    margin: 0;
  }

  .home-hero .carousel__btn {
    bottom: 10%;
  }
  .home-hero .carousel-caption {
    justify-content: center;
    left: 230px;
    right: 320px;
    transform: none;
    width: auto;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu a {
    white-space: nowrap;
  }
}

/*# sourceMappingURL=style.css.map */
