// sass-lint:disable function-name-format
@import _variables.sass

*,
*::before,
*::after
    box-sizing: inherit
    margin: 0
    padding: 0

html
    font-size: 62.5%

body
    @extend %font-body
    box-sizing: border-box
    font-size: 1.6rem

p
    margin-bottom: 1.6rem

///////////////////////////////////////////////////////////////////////////////
// HEADER                                                                    //
///////////////////////////////////////////////////////////////////////////////

.header
    &__main
        width: 100%

    &__action
        display: flex
        justify-content: flex-end
        margin-bottom: $margin-md

    &__quote
        align-items: center
        display: flex
        flex-direction: column

    &__call
        color: $color-primary
        margin-left: $margin-md
        margin-right: $margin-sm
        text-align: center

        img
            display: inline-block
            margin-right: $margin-sm

    &__phone
        display: inline-block

    &__heading
        @extend %font-header-heading
        color: $color-black
        font-size: $font-size-header-heading
        text-align: center

    &__menu
        font-size: $font-size-header-menu

        .nav-item
            @extend %skew
            border-right: 1px solid $color-primary
            padding: 5px 10px
            transition: .3s ease background-color

            &:last-of-type
                border: 0

            &.active,
            &:hover
                background-color: $color-primary

                .nav-link
                    color: $color-white

        .nav-link
            @extend %skew-back
            color: $color-black

    &__announcement
        @extend %font-announcement
        background-color: $color-secondary
        color: $color-white
        font-size: $font-size-header-menu
        margin-top: $margin-sm
        padding: 15px
        text-align: center
        width: 100%

        p
            margin-bottom: 0


///////////////////////////////////////////////////////////////////////////////
// CONTENT - REUSABLE                                                        //
///////////////////////////////////////////////////////////////////////////////

.btn
    @extend %font-btn
    border: 1px solid transparent
    border-radius: 5px
    font-size: $font-size-btn
    padding: 5px 10px

.btn-primary
    background-color: $color-primary
    color: $color-white

    &:hover
        background-color: $color-white
        border: 1px solid $color-primary
        color: $color-primary

.side-borders
    @extend %skew
    border-left: 1px solid $color-primary
    border-right: 1px solid $color-primary

    &>*
        @extend %skew-back
